<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
</head>
<body>
    <p>hello!!!!</p>
    <table>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.id}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cargo}"></td>
            <td th:text="${funcionario.salario}"></td>
            <td th:text="${funcionario.setor}"></td>
        </tr>
    </table> 
</body>
</html>