<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title> 
</head>
<body>
    <form action="#" th:action="@{/novoFuncionario}" th:object="${funcionario}" method="POST">
        <table>
            <tr>
                <td><input type="text" name="nome" placeholder="Nome"/></td>
            </tr>
            <tr>
                <td><input type="text" name="cargo" placeholder="Cargo"/></td>
            </tr>
            <tr>
                <td><input type="text" name="salario" placeholder="Salario"/></td>
            </tr>
            <tr>
                <td><input type="text" name="setor" placeholder="Setor"/></td>
            </tr>
        </table>


        <input type="submit" value="Cadastrar Novo Funcionário" />
    </form>
    <p></p>
    <table>
        <!--mostra todos os funcionários já cadastrados-->
        <tr>Funcionários cadastrados</tr>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.id}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cargo}"></td>
            <td th:text="${funcionario.salario}"></td>
            <td th:text="${funcionario.setor}"></td>
        </tr>
    </table> 
</body>
</html>